<!DOCTYPE html>
<html>
<head>
    <title>Asset Vantage : Disrupts World</title>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="fragment" content="!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="robots" content="noindex, nofollow" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900,300italic,400italic|Open+Sans:100,200,300,400,500,600,700,800,900,300italic,400italic|Raleway:100,200,300,400,500,600,700,800,900,300italic,400italic&subset=latin,latin-ext" rel="stylesheet" />
    <link href="assets/images/favico.png" rel="shortcut icon" type="image/x-icon" />
    <link href="assets/styles/glyphicons.css" rel="stylesheet" type="text/css" />
    <link href="assets/styles/glyphicons-halflings.css" rel="stylesheet" type="text/css" />
    <link href="assets/styles/glyphicons-filetypes.css" rel="stylesheet" type="text/css" />
    <link href="assets/styles/styles.css" rel="stylesheet" type="text/css" />
    <script src="lib/core-js/client/shim.min.js"></script>
    <script src="lib/zone.js/dist/zone.js"></script>
    <script src="lib/reflect-metadata/Reflect.js"></script>
    <script src="lib/systemjs/dist/system.src.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="systemjs.config.js"></script>
    <script>
        System.import('app')
            .then(null, console.error.bind(console));
    </script>

</head>
<!--  Pixels (px) are browser dependent. It is the absolute size that you would see on your screen.
Em are sort of like percentages. Ems is referring to the base text size.
The value of 1 em means the same thing as a value of 100 percent.
But you can also say it in the opposite way: A percentage value is just an em multiplied by 100.
Points(pt) are what you would want to use in print media. -->

<!-- 3. Display the application -->
<body>
    <assetvantage>
        <div class="loader"></div>
    </assetvantage>
</body>

</html>