<div [ngClass]="{'my-input-disabled':isDisabled == true}">
<div class="my-input-container">
        <label  *ngIf="label">{{label}}</label><span *ngIf="isOptional" class="option-class">-Optional</span>
        <input [ngClass]="{'my-input-disabled':isDisabled == true}" class="my-input" [placeholder]="placeholder" [style.text-align]="align" [style.width.px]="width" [type]="type" [(ngModel)]="value" [readonly]="(readonly ? 'readonly':null)">
</div>
</div>

<!-- <div [ngClass]="{'my-input-disabled':isDisabled == true}">
        <div class="ui-container">
                <span class="ui-float-label">
                        <input value="fgfddfs" [(ngModel)]="value" class="float-input ui-inputtext " id="float-input" type="text"
                                size="30">
                        <label class="float-input" for="float-input">{{placeholder}}</label>
                </span>
        </div>
       
</div> -->
