
<my-button icon="halflings halflings-triangle-bottom" iconPos="left"  id="basic" type="button" name="btn basic" class="basic" label="Basic"></my-button>
<my-button icon="halflings halflings-triangle-bottom" iconPos="right" id="btn-default" styleClass="btn btn-default" type="button" label="Default"></my-button>
<my-button icon="halflings halflings-triangle-bottom" iconPos="right" id="btn btn-primary" styleClass="btn btn-primary" type="button" label="Primary"></my-button>
<my-button icon="halflings halflings-triangle-bottom" id="btn-success" styleClass="btn btn-success"  type="button" label="Success"></my-button>
<my-button icon="halflings halflings-triangle-bottom" id="btn-info"    styleClass="btn btn-info" type="button" label="Info"></my-button>
<my-button icon="halflings halflings-triangle-bottom" id="btn-warning" styleClass="btn btn-warning" type="button" label="Warning"></my-button>
<my-button [disabled]="true" icon="halflings halflings-triangle-bottom" id="btn-danger" styleClass="btn btn-danger" type="button" label="Danger"></my-button>
<my-button id="btn-link" class="btn-link" type="button" label="Link"></my-button>
